<div class="header-bottom">
    <h1 class="header-bottom-page-title">Hi how are you doing? What are you doing?</h1>
    <div class="header-bottom-group-area">
        <div class="header-bottom-group-around-text">
            <p class="header-bottom-group-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam, officiis. Mollitia facere enim ullam amet at exercitationem, sequi, inventore fuga corrupti neque vitae reprehenderit dolor officia fugit? Suscipit, fuga ut!
            </p>
        </div>
        <button class="header-bottom-group-button">Why SKOUT</button>
</div>